script src="jquery.fenview.js" type="text/javascript"
link rel="stylesheet" type="text/css" href="jquery.fenview.css"

h1 Sense#show

div.center.jumbotron
  
div.board.one data="rnbqkbnr/pppppppp/8/8/4P3/8/PPPP1PPP/RNBQKBNR b KQkq e3 0 1"
div.board.two data="rnbqkbnr/ppppp1pp/5p2/8/3P4/5N2/PPP1PPPP/RNBQKB1R b KQkq - 1 2"
